---
layout: default
---

<article class="single row gutters">
  <h2>{{ page.title }}</h2>
  
  {% if page.prereqs %}
  <div class="prereqs">
	  <ul class="prereqs">
      <h3 class="prereqs"> Prerequisites </h3>
      {% for prereq in page.prereqs %}
      {% for prereqPage in site.pages %}
      {% if prereqPage.title == prereq %}
      <li class="prereqs">
        <img src="{{ prereqPage.image_url }}" />
        <h3><a href="{{ prereqPage.url }}">{{ prereqPage.title }}</a></h3>
        <p>{{ prereqPage.blurb }}</p>
      </li>
      {% break %}
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {{ content }}
  
  {% assign pageNumber = 0 %}
  {% for linked in site.pages %}
  {% if linked.group == page.group %}
  {% assign pageNumber = pageNumber | plus:1 %}
  {% if linked.url == page.url %}
  {{ pageNumber }}
  {% else %}
  <a href="{{ linked.url }}">{{ pageNumber }}</a>
  {% endif %}
  {% endif %}
  {% endfor %}
</article>
